<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>

        table{
            border-collapse: collapse;
            width: 100%;
        }
        th,td{
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        img.myImg{
            width: 50%;
        margin: 0px 0 0 215px;
        }

        
        #Tables{
            margin-top: 20px;
        }

        #Images{
            margin-top: 20px;
        }
        
        #Lists{
            margin-top: 20px;
        }

        
        #Audio{
            margin-top: 20px;
        }

        
        #Video{
            margin-top: 20px;
        }
    </style>
    </head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Eleonor</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item" active><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/student" target="_blank">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas" target="_blank">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses" target="_blank">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1>I will demo my HTML page</h1>
                    <p><a href="#Tables"> Tables</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#Lists">Lists</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#Images">Images</a> &nbsp;&nbsp; | &nbsp;&nbsp;  
                        <a href="#Audio">Audio</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#Video">Video</a> &nbsp;&nbsp; | &nbsp;&nbsp;</p>

                    <div id="Tables">
                        <h3>My Tables</h3>
                        <table>
                            <caption>Kdrama Movies</caption>
                            <thead>
                                <tr>
                                    <th colspan="3">South Korean</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">Bla bla</td>
                                    <td>Bla bla 2</td>
                                    <td>Bla bla 3</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Bla bla 4</td>
                                    <td>Bla bla 5</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">Korean only please....</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div id="Lists">
                        <h3>My Lists</h3>
                       <ol>
                        <li>List 1</li>
                        <li>List 2</li>
                        <li>List 3</li>
                        <li>List 4</li>
                        <li>List 5</li>
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                       </ol>
                    </div>

                    <div id="Images">
                        <h3>My Images</h3>

                        <img class="myImg" src="https://img.freepik.com/free-photo/handsome-asian-man-with-headphones_23-2149038623.jpg?w=740&t=st=1686881378~exp=1686881978~hmac=49b60d209092c9242b3842920503f3faec97e387e4059047aa9bc7d36f0b4b5b" alt="Bebe koto">
                    </div>

                    <div id="Audio">
                        <h3>My Audio</h3>
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/63135203&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/kalbii02" title="kalbii02" target="_blank" style="color: #cccccc; text-decoration: none;">kalbii02</a> · <a href="https://soundcloud.com/kalbii02/psy-gangnam-style" title="Psy - Gangnam Style" target="_blank" style="color: #cccccc; text-decoration: none;">Psy - Gangnam Style</a>
                        </div>
                     </div>
					

                     <div id="Video">
                        <h3>My Video</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/FCZMxhZOnc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                     </div>
					

                     <footer>
                        <p>This ends my htmlDemo</p>
                     </footer>
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>